:root{
    --color-primary0: #EAF7F6;
    --color-primary3: #D7F2F0;
    --color-primary5: #C4ECE9;
    --color-primary10: #A0E0DB;
    --color-primary20: #62C9C1;
    --color-primary30: #33B3A8;
    --color-primary40: #129C90;
    --color-primary50: #00857A;
    --color-primary60: #006E65;
    --color-primary70: #00574F;
    --color-primary80: #00403A;
    --color-primary90: #002925;
    --color-primary100: #001210;
    --color-secondary0: #FFF7DF;
    --color-secondary5: #FEF0C2;
    --color-secondary10: #FEE9A6;
    --color-secondary20: #FCDB6F;
    --color-secondary30: #F8CD3E;
    --color-secondary40: #F4C017;
    --color-secondary50: #EEB600;
    --color-secondary60: #E5B000;
    --color-secondary70: #DBA800;
    --color-secondary80: #CF9F00;
    --color-secondary90: #C19400;
    --color-secondary100: #B38900;
    --color-black0: #FFFFFF;
    --color-black5: #F5F5F5;
    --color-black10: #E8E8E8;
    --color-black15: #DBDBDB;
    --color-black20: #C2C2C2;
    --color-black30: #A8A8A8;
    --color-black40: #8F8F8F;
    --color-black50: #757575;
    --color-black60: #5C5C5C;
    --color-black70: #424242;
    --color-black80: #292929;
    --color-red0: #FFE8EA;
    --color-red5: #FED7DA;
    --color-red10: #FDB8BF;
    --color-red20: #F98994;
    --color-red30: #F45F6E;
    --color-red40: #EC3E4F;
    --color-red50: #E22336;
    --color-red60: #D41124;
    --color-red70: #C30417;
    --color-red80: #AF0011;
    --color-red90: #97000F;
    --color-red100: #80000D;
    --color-orange0: #FFF2EE;
    --color-orange5: #FEE3D9;
    --color-orange10: #FED3C5;
    --color-orange20: #FBB49C;
    --color-orange30: #F89878;
    --color-orange40: #F38059;
    --color-orange50: #EC6C42;
    --color-orange60: #E45D2F;
    --color-orange70: #D95022;
    --color-orange80: #CC4519;
    --color-orange90: #BD3D12;
    --color-orange100: #AD360E;
    --color-blue0: #EBF5FF;
    --color-blue5: #D7EDFD;
    --color-blue10: #BFE1FC;
    --color-blue20: #8ECAF9;
    --color-blue25: #77BAEE;
    --color-blue30: #54A8EA;
    --color-blue35: #419AE1;
    --color-blue40: #1B6BAC;
    --color-blue50: #0F4C81;
    --color-blue60: #07335A;
    --color-blue70: #03223E;
    --color-blue80: #01192F;
    --color-pink0: #FFEFF4;
    --color-pink5: #FED4E0;
    --color-pink10: #FCB9CD;
    --color-pink20: #F887A8;
    --color-pink30: #F05B87;
    --color-pink40: #E6376B;
    --color-pink50: #D81B54;
    --color-pink60: #C50D48;
    --color-pink70: #AE053F;
    --color-pink80: #920136;
    --color-purple0: #F7F1F9;
    --color-purple5: #EADCEF;
    --color-purple10: #E3D0EA;
    --color-purple20: #CEBDEA;
    --color-purple30: #BDA6E3;
    --color-purple40: #AB8DDB;
    --color-brown50: #643D27;
    --color-brown80: #3D2318;
    --color-powdered: #FAF2E8;
    --color-spring: #C4ECE9;
    --color-littleTouch: #E3D0EA;
    --color-peachCloud: #FEE3D9;
    --color-blueSilk: #D1DCE6;
    --color-ditheredSky: #BFE1FC;
    --color-dawnSky: #D0D6F6;
    --color-beeswax: #FEF0C2;
    --color-lightPinkLinen: #DDCDD0;
    --color-dustyRose: #F5D4DE;
    --color-lavenderPink: #FEC8D8;
    --color-pigeonPost: #B1B5D7;
    --color-opal: #A2C1BF;
    --color-darkPinkLinen: #B8A8AB;
    --color-cocoa: #C6896B;
    --color-electricBlue: #86f5ff;
    --color-black: #000000;
    /* Smart Wizard variables */
    --sw-toolbar-btn-color: #FFFFFF;
    --sw-toolbar-btn-background-color: #292929;
    --sw-progress-color: #292929;
}
